/*.mdl {
  background-color: #bada55
}*/

.mdl-layout__content {
  -webkit-box-shadow: inset 3px 0px 29px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px 0px 29px -4px rgba(0,0,0,0.75);
  box-shadow: inset 3px 0px 29px -4px rgba(0,0,0,0.75)
}

.mdl-card {
  perspective: 800;
  -webkit-transition: -webkit-transform 1s;
  position: relative;
  -webkit-perspective: 800;
}

.mdl-card__actions {
  height: 50px;
}

.article-image {
  height: 300;
  width: 300;
}

.navbar-img {
  height: 50px,
  width: 50px
}

img {
  height: 250px;
  width: 100%;
}
// .mdl-card:hover .portfolio-card {
//   -webkit-transform-origin: right center;
//   transform: translateX(-100%) rotateY(180deg);
//   background-color: #bad155
// }
//
// .portfolio-card {
//   position: relative;
//   transform-style: preserve-3d;
//   transition: all 1s ease-in-out;
//   background-color: #bad455
// }
//
// .portfolio-card .front{
//   backface-visibility: hidden;
//   border-radius: 6px;
//   position: static;
//   overflow: hidden;
//   background-color: #bada55;
// }
//
// .portfolio-card .back{
//   backface-visibility: hidden;
//   background: #eaeaed;
//   color: #0087cc;
//   height: 100%;
//   width: 100%;
//   line-height: 150px;
//   text-align: center;
//   transform: rotateY(180deg);
//   cursor: pointer;
// }

html {
  background-image: url("../assets/images/Background.jpg");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
